---
layout: default
class: home
css: ['pages/index.css']
comments: false
---
<section class="banner">
    <div class="collection-head">
        <div class="container">
            <div class="collection-title">
              <h1 class="collection-header" id="sub-title"><span>{{ site.subtitle }}</span></h1>
                <div class="collection-info">
                    <span class="meta-info mobile-hidden">
                        <span class="octicon octicon-location"></span>
                        {{ site.location }}
                    </span>
                    <span class="meta-info">
                        <span class="octicon octicon-organization"></span>
                        <a href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a>
                    </span>
                     <span class="meta-info">
                        <span class=""></span>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.banner -->
<section class="container content">
    <div class="columns">
        <div class="column two-thirds" >
            <ol class="repo-list">
                {% for post in paginator.posts %}
                <li class="repo-list-item">
                    <h3 class="repo-list-name">
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </h3>
                    <p class="repo-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="repo-list-meta">
                        <span class="meta-info">
                          <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                        </span>
                        {% for cat in post.categories %}
                        <span class="meta-info">
                          <span class="octicon octicon-file-directory"></span>
                          <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
                        </span>
                        {% endfor %}
                    </p>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="column one-third">
            {% include sidebar-search.html %}
            {% include sidebar-popular-repo.html %}
        </div>
    </div>
    <div class="pagination text-align">
      <div class="btn-group">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
              <a href="/" class="btn btn-outline">&laquo;</a>
          {% else %}
              <a href="/page{{paginator.previous_page}}"  class="btn btn-outline">&laquo;</a>
          {% endif %}
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&laquo;</button>
        {% endif %}
        {% if paginator.page == 1 %}
            <a href="javascript:;" class="active btn btn-outline">1</a>
        {% else %}
            <a href="/"  class="btn btn-outline">1</a>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
              <a href="javascript:;"  class="active btn btn-outline">{{count}}</a>
          {% else %}
              <a href="/page{{count}}"  class="btn btn-outline">{{count}}</a>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}"  class="btn btn-outline">&raquo;</a>
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&raquo;</button>
        {% endif %}
        </div>
    </div>
    <!-- /pagination -->
</section>
<!-- /section.content -->
